---
import { ImgContainer } from '@/components/common/ImgContainer'
import { PizzaData } from '@/components/customize/PizzaData'
import { PizzaIngredients } from '@/components/customize/PizzaIngredients'
import { IMAGE_CDN } from '@/constants/imageCDN'
import pizzaList from '@/data/pizza.json'
import Layout from '@/layouts/Layout.astro'
import { compareStringsOfNames } from '@/utils/compareStringsOfNames'
import type { GetStaticPaths, InferGetStaticParamsType } from 'astro'
import { Image } from 'astro:assets'


export const getStaticPaths = (() => {
	return pizzaList.map((element) => ({ params: { pizza: element.name.replace(' ', '-').toLowerCase() }}))
		.concat({ params: { pizza: 'empty' }})
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>

const { pizza } = Astro.params as Params

const getDefaultName = (name: String) => name.charAt(0).toUpperCase() + name.slice(1).replace('-', ' ')

const getIngredients = pizzaList
.filter(({ name }) => compareStringsOfNames(pizza, name))
.flatMap(({ ingredients }) => ingredients)

const getAuhor = pizza !== 'empty' ? 
	pizzaList.filter(({ name }) => compareStringsOfNames(name, pizza)).map(({ image }) => image.author)[0]
	: 'Foto de Fernando Andrade en Unsplash'
//const ingredients = await getAllIngredients()
---

<Layout 
	title='Customize pizza'
	description={`Customize your ${pizza.replace('-', ' ')} pizza with a selection quantity of ingredients`}
>
	<main>
		<div>
			<ImgContainer styleClass='pizza-image' figcaptionText={getAuhor}>
				<Image 
						class='pizza-custom' 
						src={`${IMAGE_CDN}/pizza/${pizza}.avif`}
						alt={`${getDefaultName(pizza)} pizza`}
						width='320'
						height='260'
						decoding='sync'
						loading='eager'
						transition:name={`image-${pizza.replace('-', ' ')}`}
					/>
			</ImgContainer>
			<PizzaData 
				client:load 
				pizza={{
					pizzaName: pizza,
					pizzaImageName: `${IMAGE_CDN}/pizza/${pizza}--small.avif`,
					pizzaImageAuthor: getAuhor
				}}
				prebuildIngredients={getIngredients} 
			/>
		</div>
		<div>
			<PizzaIngredients client:idle prebuildIngredients={getIngredients} />
		</div>
	</main>
</Layout>
<style is:global>
	.pizza-image {
		height: 224px;
	}
</style>

<style>
	main {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 16px;
		&> div {
			width: 100%;
			&:first-of-type {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 480px;
				gap: 16px;
			}
		}
	}

	@media (width > 720px) {
		main {
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: start;
			max-height: calc(100svh - 56px );
			overflow: hidden;
			&> div:first-of-type {
				max-width: 360px;
			}
		}
	}
</style>