---
import { CheckoutForm, type CheckoutFormTranslation } from '@/components/order/CheckoutForm'
import { SECONDARY__BUTTON } from '@/lib/constants/styles'
import CountryList from '@/assets/data/countries.json'
import FormLayout from '@/layouts/FormLayout.astro'
import { getIpData } from '@/services/ipService'
import type { SeoTranslation } from '@/types'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props {
   t: {
      seo: SeoTranslation
      require: string
      returnToChoose: string
      form: CheckoutFormTranslation
   }
}
const currentLocale = Astro.currentLocale ?? 'en'

const { t } = Astro.props
---

<FormLayout 
   title={t.seo.title}
   description={t.seo.description}
   h1Text={t.seo.h1}
>
   <p>{t.require}</p>
   <CheckoutForm 
      client:load 
      countryList={CountryList} 
      currentLocale={currentLocale}
      t={t.form}
   />
   <a class={SECONDARY__BUTTON} href={getRelativeLocaleUrl(currentLocale, 'menu')}>{t.returnToChoose}</a>
</FormLayout>