---
import { ImgContainer } from '@/components/common/ImgContainer'
import { PizzaData, type PizzaDataTranslation } from '@/components/customize/PizzaData'
import { PizzaIngredients, type IngredientTypeTranslation } from '@/components/customize/PizzaIngredients'
import { IMAGE_CDN } from '@/constants/imageCDN'
import { MAIN__TAG__ANIMATION__NAME } from '@/constants/viewTransitions'
import pizzaList from '@/data/pizza.json'
import Layout from '@/layouts/Layout.astro'
import { getAllIngredients } from '@/services/ingredientsService'
import type { QuantityTranslation, SeoTranslation } from '@/types'
import { compareStringsOfNames } from '@/utils/compareStringsOfNames'
import { Image } from 'astro:assets'

interface Props {
   pizza: string
   t: {
		seo: SeoTranslation
		quantity: QuantityTranslation
      pizzaData: PizzaDataTranslation
		ingredientTypeList: IngredientTypeTranslation
   }
}

const { pizza, t } = Astro.props

const getDefaultName = (name: String) => name.charAt(0).toUpperCase() + name.slice(1).replace('-', ' ')

const currentLocale = Astro.currentLocale as 'en' | 'es' ?? 'en'
const emptyAuthor = currentLocale === 'en'
	? "Mariusz Słoński's photo on Unsplash"
	: 'Foto de Mariusz Słoński en Unsplash'

const currentPizzaList = pizzaList[currentLocale]

const isEmpty = pizza !== 'empty'
	
const pizzaImageName = isEmpty
	? pizzaList.en
		.filter(({ name }) => compareStringsOfNames(name, pizza))
		.map(({ image }) => image.name)
	: 'empty'

const getAuhor = isEmpty
	? currentPizzaList[pizzaList.en.findIndex(({ name }) => compareStringsOfNames(name, pizza))]
		.image.author
	: emptyAuthor

const ingredients = await getAllIngredients()

const getIngredients = () => {
	return pizzaList.en
		.filter(({ name }) => compareStringsOfNames(pizza, name))
		.flatMap(({ ingredients }) => ingredients)
}
---

<Layout 
	title={t.seo.title}
	description={t.seo.description}
	activeLink='Customize'
>
	<main transition:name={MAIN__TAG__ANIMATION__NAME}>
		<div>
			<ImgContainer styleClass='pizza-image' figcaptionText={getAuhor}>
				<Image 
					class='pizza-custom' 
					src={`${IMAGE_CDN}/pizza/${pizzaImageName}.avif`}
					alt={`${getDefaultName(pizza)} pizza`}
					width='320'
					height='260'
					decoding='sync'
					loading='eager'
				/>
			</ImgContainer>
			<PizzaData 
				client:load
				pizza={{
               pizzaName: pizza,
					pizzaImageName: pizza + '--small',
					pizzaImageAuthor: getAuhor
				}}
				prebuildIngredients={
					getIngredients().map((id) => ingredients.filter(({ idIngredient }) => id === idIngredient)[0])
				}
            t={{
					quantity: t.quantity,
					pizzaDataTranslation: t.pizzaData
				}}
				localForModalLinks={Astro.currentLocale ?? 'en'}
			/>
		</div>
		<div>
			<PizzaIngredients 
            client:idle 
            prebuildIngredientIDs={getIngredients()} 
            ingredientList={ingredients} 
            t={{
					quantity: t.quantity,
					ingredientTypeList: t.ingredientTypeList
				}}
         />
		</div>
	</main>
</Layout>

<style is:global>
	.pizza-image {
		height: 224px;
	}
</style>

<style>
	main {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		padding: 16px;
		&> div {
			width: 100%;
			&:first-of-type {
				display: flex;
				flex-direction: column;
				width: 100%;
				max-width: 480px;
				gap: 16px;
			}
		}
		@media (width > 720px) {
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: start;
			max-height: calc(100svh - 56px );
			overflow: hidden;
			&> div:first-of-type {
				max-width: 360px;
			}
		}
	}
</style>
