---
import { LogInForm, type LogInFormTranslation } from '@/components/security/LogInForm'
import FormLayout from '@/layouts/FormLayout.astro'
import type { LocalesString, SeoTranslation } from '@/types'
import { getRelativeLocaleUrl } from 'astro:i18n'

interface Props {
   t: {
      seo: SeoTranslation
      accountQuestion: string
      signUp: string
      logInFormTranslation: LogInFormTranslation
   }
}

const locale = Astro.currentLocale as LocalesString ?? 'en' 
const { t } = Astro.props
---

<FormLayout 
   title={t.seo.title}
   description={t.seo.description}
   h1Text={t.seo.h1}
>
   <p>
      {t.accountQuestion}
      <a href={getRelativeLocaleUrl(locale, 'signup')}>{t.signUp}</a>
   </p>
   <LogInForm client:load t={t.logInFormTranslation} locale={locale} />
</FormLayout>

<style>
   a {
      color: var(--blue);
      text-decoration: underline;
      text-underline-offset: 4px;
   }
</style>