---
import { SignUpForm, type SignUpFormTranslation } from '@/components/security/SignUpForm'
import { getLoginUrl } from '@/constants/loginUrl'
import FormLayout from '@/layouts/FormLayout.astro'
import type { SeoTranslation } from '@/types'

interface Props {
   t: {
      seo: SeoTranslation
      haveAccount: string
      login: string,
      signUpFormTranslation: SignUpFormTranslation
   }
}

const { t } = Astro.props
---
<FormLayout
   title={t.seo.title}
   description={t.seo.description}
   h1Text={t.seo.h1}
>
   <p>{t.haveAccount} <a href={getLoginUrl(Astro.currentLocale ?? 'en')}>{t.login}</a></p>
   <SignUpForm client:load t={t.signUpFormTranslation} />
</FormLayout>