---
import verifyTranslation from "@/assets/i18n/pages/Verify.json"
import { PRIMARY__BUTTON } from "@/constants/styles"
import Layout from "@/layouts/Layout.astro"
import type { LocalesString, TokenStatus } from "@/types"

interface Props {
   locale: LocalesString
   tokenStatus: TokenStatus
}

const { locale, tokenStatus } = Astro.props
const t = verifyTranslation[locale]


---

<Layout
   title={t.seo.title}
   description={t.seo.description}
   activeLink=""
>
   <main>
      {(() => {
         switch (tokenStatus) {
            case 'SUCCESSFUL':
               return (
                  <>
                     <p>{t.token.SUCCESSFUL}</p>
                     <a href={`${URL}/login`} class={PRIMARY__BUTTON}>Login</a>
                  </>
               )

            case 'EXPIRED':
               return (
                  <>
                     <p>{t.token.EXPIRED}</p>
                     <button class={PRIMARY__BUTTON}>Resend token</button>
                  </>
               )
            
            default:
               return null
         }
      })()}
   </main>
</Layout>

<style>
   main {
      display: grid;
      place-content: center;
      gap: 16px;
      max-width: 50ch;
      margin-inline: auto;
   }
</style>