---
import { CardContainer } from '@/components/common/CardContainer'
import { ImgContainer } from '@/components/common/ImgContainer'
import { AddPizza } from '@/components/order/AddPizza'
import { Size } from '@/constants/size'
import { SECONDARY__BUTTON } from '@/constants/styles'
import pizzaList from '@/data/pizza.json'
import Layout from '@/layouts/Layout.astro'
import { getPizzaPrice } from '@/utils/getPizzaPrice'
import { Image } from 'astro:assets'

function getUrlImage(specificPath: string) {
	return `/client/images/pizza/${specificPath}.jpg`
}

---

<Layout title='Menu page'>
	<main>
		<h1>Menu</h1>
		<div>
			{pizzaList.map((pizza, index) => (
				<CardContainer styleClass='card-separation'>
					<>
						<ImgContainer styleClass='pizza-container' figcaptionText={pizza.image.author}>
							<Image 
								src={getUrlImage(pizza.image.url)}
								alt={`${pizza.name} pizza`}
								width='280'
								height='220'
								loading={index < 8 ? 'eager' : 'lazy'}
								transition:name={`image-${pizza.name.replace(' ', '-').toLowerCase()}`}
							/>
						</ImgContainer>
						<div class='pizza-information'>
							<h3>{pizza.name}</h3>
							<p class='information-important'>${getPizzaPrice(pizza.ingredients.length, Size.MEDIUM, 1)}</p>
							<p>{pizza.ingredients.join(', ')}</p>
						</div>
						<div class='buttons-column'>
							<AddPizza client:idle pizza={{
								pizzaName: pizza.name,
								pizzaImageUrl: getUrlImage(pizza.image.url),
								pizzaImageAuthor: pizza.image.author,
								size: Size.MEDIUM,
								quantity: 1,
								pizzaIngredients: pizza.ingredients.map(
									(ingredient) => ({ name: ingredient, quantity: 1 }))
							}} />
							<a class={SECONDARY__BUTTON} href={`/client/customize/${pizza.name.replace(' ', '-').toLowerCase()}`}>Personalizar</a>
						</div>
					</I>
				</CardContainer>
			))}
		</div>
	</main>
</Layout>

<style is:global>
	.card-separation {
		display: flex;
		max-width: 340px;
		flex-direction: column;
		gap: 12px;
	}

	.pizza-container {
		height: 140px;
		border-radius: 16px;
		overflow: hidden;
		& img {
			position: absolute;
			height: fit-content;
			top: -36px;
		}
	}
</style>

<style>	
	main {
		padding: 16px;
		& > div {
			display: grid;
			max-width: 1500px;
			column-gap: 16px;
			row-gap: 12px;
			margin-top: 12px;
			margin-inline: auto;
			place-content: center;
			grid-template-columns: repeat(auto-fill, minmax(288px, auto));
		}
	}

	.pizza-information {
		display: grid;
		grid-template-columns: auto auto;
		justify-content: space-between;
		row-gap: 4px;
		& .information-important {
			font-size: 1.25rem;
			font-weight: bold;
		}
	}

	.buttons-column {
		display: flex;
		flex-direction: column;
		margin-top: auto;
		gap: 12px;
	}
</style>